.body{
    font-family: "Montserrat";
}


#title{
    background-color: #FFBFA9;
    color: #fff;
}
h1{
    font-family: 'Monsterrat-bold';
    font-size: 3.7rem;
    line-height: 1.5;
    font-weight: bold;
}



.row{
    padding: 5px 25px;
}
.container-fluid{
    padding: 5% 15%;
}
/* navigation bar */
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.7rem;
    font-weight: bold;
    padding: 1% 5%;

}

.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.5rem;
}

/* download-button */
.download-button{
    margin: 5% 3% 5% 0%;
}

/* title-img */
.title-img{
width: 85%;
margin-left: 10%;
transform: rotate(20deg);
border-radius: 50%;


}
@media (max-width: 1028px){
#title{
    text-align: center;
        
}
.title-img{
    transform: rotate(0deg);
    

}}
/* features */
#features{
    padding: 7% 15%;
    background-color: #fff;
    
}

.features-box{
    text-align: center;
}
h3{
    font-weight: bold;
    font-family: "Monsterrat-bold";
    padding: 5%;

}
p{
    color: #8f8f8f;
}

.icon {
    color: #FFBFA9;
    margin-bottom: 5%;
}
.icon:hover{
    color: #ff4368;
}

/* testiminial */
h2{
    font-family: Monsterrat;
    font-size: 3rem;
    font-weight: bold;
    
    text-align: center;
   }
.image-cat{
    margin:5% ;
    margin-left: 35%;
    margin-right: 35%;
    width: 25%;
    border-radius: 50%;

}
#testimonials{
background-color: #FFBFA9;
color:#fff ;
padding: 7% 15%;
text-align: centre;
}
em{
    color: #fff;
    font-family: "Monsterrat";
    font-size: 2rem;
    text-align: center;
}
#press{
    background-color: #FFBFA9;
    text-align: center;
    padding-bottom: 5%;
}
.press-logo{
    width: 13%;
    margin: 20px 50px 20px;
}

.testimonial-image{
    margin:5% ;
    margin-left: 35%;
    margin-right: 35%;
    width: 25%;
    border-radius: 50%;
}

.carousel-control-prev{
    width: 30%;
}
.carousel-control-next{
    width: 30%;
}

#pricing{
    padding: 100px;
    text-align: center;
    font-family: "Monsterrat";
    color: #8f8f8f;
    
}
.pricing-card {
    padding:3% ;
    font-weight: bold;
}

/* ending */
#cta{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color:#FFBFA9 ;
    font-family: "Monsterrat";
    font-weight: bold;
    text-align: center;
    color: #fff;
    size: 4.5rem;
}
#footer{
    padding: 10%;
    font-family: "Monsterrat";
    color: #8f8f8f;
    text-align: center;
    
}
.fa-brands{
    size: 3rem;
}
.fa-brands:hover{
    color: #ff4368;
}



